section.about-full
    .about#about
        .about-image
            img(src="/assets/img/profile.jpg", alt="")
        .about-description
            h2.title About Me
            p Hi! I’m Nilton Huamani born in Cusco, Perú.
                br
                | I would love to introduce myself as a 
                strong “Front-end Developer” and 
                strong ”Web Designer”
                with 3+ years of experience; and in my spare time I do Mobile Development. 
                | I believe in punctuality, honesty & quality of my work provided.