footer.footer-main
  ul: li: a(href="#"): img(src="/assets/img/facebook.svg", alt="")
  ul: li: a(href="#"): img(src="/assets/img/x-twitter.svg", alt="")
  ul: li: a(href="#"): img(src="/assets/img/linkedin.svg", alt="")
  ul: li: a(href="#"): img(src="/assets/img/github.svg", alt="")