.hero
    img.hero-image(src="/assets/img/hero-image.jpg", alt="")
    .hero-title
        p Welcome to my World
        h1 Hi, I'm Nilton 
            span Front-end Developer
        p Based in Perú