section.project-full
    .project#project
        h2.title Project
        .card
            article
                figure
                    img.card-image(src="/assets/img/portfolio/altomayo.jpg", alt="")
                h3.card-title Altomayo
                .card-description
                    p Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.
            article
                figure
                    img.card-image(src="/assets/img/portfolio/costa.jpg", alt="")
                h3.card-title Costa
                .card-description
                    p Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.
            article
                figure
                    img.card-image(src="/assets/img/portfolio/fibraforte.jpg", alt="")
                h3.card-title Fibraforte
                .card-description
                    p Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.
            article
                figure
                    img.card-image(src="/assets/img/portfolio/montalvo.jpg", alt="")
                h3.card-title Montalvo
                .card-description
                    p Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.
            article
                figure
                    img.card-image(src="/assets/img/portfolio/stracon.jpg", alt="")
                h3.card-title Stracon
                .card-description
                    p Hi! I’m Nilton Huamani born in Cusco, Perú.
            article
                figure
                    img.card-image(src="/assets/img/portfolio/vandrox.jpg", alt="")
                h3.card-title Vandrox
                .card-description
                    p Hi! I’m Nilton Huamani born in Cusco, Perú.
