extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Kanory is a landing page of a personal portfolio, used to create a personal brand.'
  -pageImage = 'https://ed-grid.com/assets/img/caexco.jpg'

block main

  .full
    include ../includes/main-menu

  include ../includes/footer
